.container {
	width: 60%;
	background-color: #FFCD57;
	margin: 15px;
	padding: 15px;
}

.header {
	height: 60px;
	background-color: #E6F0AF;
	padding: 5px;
	padding-left: 25px;
	border-radius: 5px;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

h1 {
	float: left;
}

.home {
	float: left;
	padding-top: 37px;
	padding-left: 7px;
	
}

.main-content {
	background-color: #A2A653;
	padding: 10px;
	border-radius: 5px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}



ul {
	color: #FFCD57;
	list-style-type: none;
	padding-left: 0px;
}

li {
	padding: 10px;
	margin: 7px;
	border: 1px solid blue;
	border-radius: 10px;
	background-color: #4A3A47;
	
	display: none;
}

a {
	color: #E6F0AF;
	cursor: pointer;
}

a:visited {
	color: #E6F0AF;
}

a.home {
	color: #4A3A47;
}

.timeStamp {
	font-size: 10px;
	padding-top: 5px;
	color: #E6F0AF;
}

.footer {
	padding: 10px;
	border-radius: 5px;
}